body {
    background-color: #8c8a8a6d;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    padding: 90px 20px 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 120;
}

.title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.title h1 {
    color: #025f8d;
    margin-left: flex;
    margin-top: flex;
}

