<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="registro.css" type="text/css" />
    <title>Document</title>
</head>

<body>
    <header class="nav">
            <div class="logotipo">
                <img src="muni.png" alt="logo muni">
                <h2>Municipalidad de Cartagena</h2>
            </div>
            <div class="container">
                <div class="title">
                    <h1>Registro de personas</h1>
                </div>
    </header>
    <div class="tableformat">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rut</th>
                <th>E-mail</th>
                <th>domicilio</th>
                <th>Departamento</th>
                <th>Telefono/Celular</th>
                <th>Motivo</th>
                <th>Comentario</th>
                
            </tr>
            <tr>
                <td>Ada </td>
                <td>lovelace</td>
                <td>11.111.111-1</td>
                <td>correo</td>
                <td>calle siempreviva742</td>
                <td>Indefinido</td>
                <td>954684658</td>
                <td>Beca</td>
                <td>no comento</td>
            </tr>
            <tr>
                <td>Gace </td>
                <td>Hopper</td>
                <td>22.222.222-2</td>
                <td>correo</td>
                <td>calle falsa</td>
                <td>Indefinido</td>
                <td>912321231</td>
                <td>vivienda</td>
                <td>no comento</td>
            </tr>
            <tr>
                <td>Margaret </td>
                <td>Hamilton</td>
                <td>33.333.333-2</td>
                <td>correo</td>
                <td>calle real123</td>
                <td>indefinido</td>
                <td>932123512</td>
                <td>reclamo</td>
                <td>todo mal</td>
            </tr>
        </table>
    </div>

</body>

</html>