
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/navbar.css">
</head>

    
<div class="headers">
    <nav class="nav">
        <div class="logotipo">
            <img src="muni.png" alt="logo muni">
            <h2>Municipalidad de Cartagena</h2>
        </div>
        <a href="#" class="logo nav-link"></a>
        <ul class="nav-menu nav-menu_visible">
            <li class="nav-menu-item">
                <a href="/api/mostrar/" class="nav-menu-link nav-link">Tabla</a>
            </li>
            <li class="nav-menu-item">
                <a href="/api/admin/logout" class="nav-menu-link nav-link">Cerrar Sesión
                </a>
            </li>
        </ul>
    </nav>

</div>

