<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    
<header class="header">
    <nav class="nav">
        <div class="logotipo">
            <img src="muni.png" alt="logo muni">
            <h2>Municipalidad de Cartagena</h2>
        </div>
        <a href="#" class="logo nav-link"></a>
        <button class="nav-toggle">
            <i class="fas fa-bars"></i>      
        </button>
        <ul class="nav-menu nav-menu_visible">
            <li class="nav-menu-item">
                <a href="#" class="nav-menu-link nav-link">Inicio</a>
            </li>
            <li class="nav-menu-item">
                <a href="#" class="nav-menu-link nav-link">Noticias</a>
            </li>
            <li class="nav-menu-item">
                <a href="#" class="nav-menu-link nav-link">Información</a>
            </li>
            <li class="nav-menu-item">
                <a href="#" class="nav-menu-link nav-link">Contacto</a>
            </li>
        </ul>
    </nav>

</header>

</html> 