

<head>

    <link rel="stylesheet" href="/css/registeract.css">
</head>


<div class="container">
    <div class="title">
        <h1>Registro de actividad</h1> 
     </div> 
     <div class="form-user">
        <form method="">
           <div class="inputss">
   
   
               <div class="inputss-1">
               
                   <div class="i-1">
                       <label> nombre </label>
                       <input placeholder="Nombre" type="text" name="name">
                   </div>
                   <div class="i-1">
                       <label> nombre </label>
                       <input placeholder="Apellido Paterno" type="text" name="lastName"> 
                   </div>
                   <div class="i-1">
                       <label> nombre </label>
                       <input placeholder="Apellido Materno" type="text" name="lasName"> 
                   </div>
                   <div class="i-1">
                       <label> nombre </label>
                       <input placeholder="RUT" type="text" name="rut"> 
                   </div>
                   <div class="i-1">
                       <label> nombre </label>
                       <input placeholder="mail" type="mail" name="email"> 
                   </div>
                   <div class="i-1">
                       <label> nombre </label>
                       <input placeholder="telefono" type="tel" name="telefono">
                   </div>
           </div>
              
   
               
   
            
              
               <div class="inputss-1">
                   <div class="i-2">
                       <label>Region</label> 
                       <select placeholder="region"  name="region" required> 
                           <option value="" disabled>Seleccione Region</option>
                           <option value="Arica y Parinacota">Arica y Parinacota</option>
                           <option value="Tarapaca">Tarapaca</option>
                           <option value="Antofagasta">Antofagasta</option>
                           <option value="Atacama">Atacama</option>
                           <option value="Coquimbo">Coquimbo</option>
                           <option value="valparaiso">Valparaiso</option>
                           <option value="Metropolitana">Metropolitana</option>
                           <option value="Ohggins">Libertador Bernando O'hoggins</option>
                           <option value="Maule">Maule</option>
                           <option value="Bio-Bio">Bio-Bio</option>
                           <option value="Aracaunia">Aracaunia</option>
                           <option value="Los Rios">Los Rios</option>
                           <option value="Los Lagos">Los Lagos</option>
                           <option value="Aisen">Aisen</option>
                           <option value="Magallanes">Magallanes</option>
                       </select>
                   </div>
                   <div class="i-2">
                       <label>Comuna</label>
                       <input placeholder="Comuna" type="text" name="comuna">
                   </div>
                   
                   <div class="i-2">
                       <label>Calle </label>
                       <input placeholder="Calle" type="text" name="calle"> 
                   </div>
                   
                   <div class="i-2">
                       <label>Descripcion</label>
                       <textarea  name="descripcion"> </textarea>
                   </div> 
        
                   <div class="i-2">
                       <label>Departamento</label>
                       <select placeholder="Despartamento"  name="Departamento"> 
                           <option>Dep.Finanzas</option>
                           <option>Dep.Bienestar</option>
                           <option>Dep.A</option>
                           <option>Dep. rArenas</option>
                       </select>
                   </div>
                  
   
               </div>
           </div>
           <div class="buttons">
               <input type="submit" value="Guardar">
               <input type="reset" value="Restaurar">
   
           </div>
   
        </form>
   
   
   
    </div>

</div>
