<%- include('../partials/_headernavbaruser') %>
<head>
    <link rel="stylesheet" href="/css/signin.css">
    <title>signin</title>
</head>

<body>
    <div class="container">
        <div class="tittle">
           <h1>Iniciar Sesion</h1>
           <p>Ingresa tu cuenta asignada</p>
        </div>
        <div class="form-user">
            <form action="/api/admin/signin/" method="POST">
               <div class="inputss">
                   <input placeholder=" R.U.T. EJ: 12.345.678-9" type="text" name="rut"> 
                   <input placeholder=" Clave" type="password" name="password"> 
               </div>
               <div class="buttons">
                
                    <input type="submit" value="aceptar">
                   <input type="reset" value="Eliminar">

               </div>

               
    
            </form>



        </div>
    </div>
</body>
