<head>
    
    <link rel="stylesheet" href="signup.css" type="text/css"/> 
    <title> Signup</title>

</head>



<div class="container">
    <div class="title">
       <h1>Nuevo usuario</h1> 
    </div>
    <div class="form-user">
        <form method="">
           <div class="inputss">
            <div class = "i">
                <input placeholder="Nombre" type="text" name="nombre"> 
            </div>
            <div class = "i">
                <input placeholder="Apellidos" type="text" name="apellidos"> 
            </div >
            
            <div class = "i">
                <input placeholder="RUT" type="text" name="rut"> 
            </div >
            <div class = "i">
                <input placeholder="mail" type="mail" name="email"> 
            </div>
            <div class = "i">
                <input placeholder="password" type="password" name="password"> 
            </div>
            <div class = "i">
                <select placeholder="region"  name="region" required> 
                    <option value="" disabled>Seleccione Region</option>
                    <option value="Magallanes">Magallanes</option>
                </select>
            </div>

        </form>



    </div>
</div>